Thumbs.db
*.swp
*.swo
*.cmi
*.cmo
*.log
*.output
a.out
parser.ml
parser.mli
scanner.ml
.gitignore~
y.tab.c

*_digests
*_log
*.depends
src/_build/*

*.sublime-workspace

src/PLT.sublime-project

src/makerrs.txt

test/scanner/scripts/ast.ml

test/scanner/scripts/parser.mly

test/scanner/scripts/scanner.mll

test/scanner/scripts/to_string.ml

test/scanner/scripts/tokenize

test/scanner/scripts/tokenize.ml
*.res

*.DS_Store

*.sublime-project
*.sublime-workspace

src/.DS_Store
test/semant/scripts/semant

*.native
